@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}

body{
    line-height: 2.0;
}

a{
    text-decoration:none;
}

/*レイアウト*/

.align-center{
    text-align: center;
    color:lightgray;
}

.align-center2{
    text-align: center;
    color:black;
}

.align-center3{
    text-align:center;

}

.align-center4{
    text-align: center;
}
/*見出し*/

.font-japanese{
    font-family:'Philosopher',sans-serif;
    font-weight: normal;
}

/*ヘッダー*/

.page-header{
    padding-top:.5rem;
}

.main-nav{
    display:flex;
    justify-content: center;
    gap:2.5rem;
    font-size: 1.5rem;
    list-style:none;
}

.main-nav a{
    color:gray;
    border-width: medium;
    border-style:solid;
}

.main-nav a:hover{
    color:white;
}

.cover{
    background-size:cover;
    background-position: center bottom;
    height:800px;
}

.cover-home{
    background-image:url(../images/ocean.webp)
}

.cover-home2{
    background-image:url(../images/1.webp)
}

.cover-home3{
    background-image:url(../images/R.webp)
}

.about{
    max-width:736px;
    padding: 0 1.5rem;
    margin:3rem auto 0;
}

.about p{
    margin-bottom: 3rem;
}

.about2{
    display:block;
    white-space: pre;
    position: relative;
    padding: 0 1.5rem;
    margin:3rem auto 0;
}
.about3{
     display:block;
    padding:10px;
    padding-top: 1rem;
    white-space: pre-wrap;
    position: relative;
}

.komayama{
    margin-left:0;
    margin-right:100%;
    width:200px;
    display:flex;
    align-self: flex-start;
    white-space: pre;
}
.heading-large3{
     margin-left:auto;
    margin-right:0;
    width:100px;
} 

.heading-large4{
    text-align: center;
}
.about2 .p2,
.about3 .p3 {
    width: 30%;
    margin-right: 2rem;
    max-width: 35%;
}
.p4{
     border-width: medium;
    border-style:solid;
     max-width: 35%;
}

.p5{
    text-align: center;
    white-space: pre;
}

.p6{
    white-space: pre;
}

.komayamagazou{
    width: 100%;
    display:flex;
    align-self: flex-start;
    
    margin-left: auto;
}

.about4{
    display:flex;
    white-space: pre;
    padding-top: 10rem;
   justify-content: center;
}

.aboutK1{
    text-align: center;
     justify-content: center;
}

.about5{
    display:flex;
    justify-content: center;
    text-align: center;
}

.heading-large{
    font-weight: bold;
    font-size: 1.5rem;
}

.soba{
    width:30%;
    float: right;
    margin-top: 5rem;
    top:-0.1px;
    right: -0.1px;
    position:absolute;
}

.akari{
    width: 29%;
    float: left;
    position:absolute;
    top:-0.1px;
    right: -0.1px;
    margin-top: 6rem;
}

.moritown{
    width :80%;
}

.moripark{
    width:30%;
}

.hinodegazou{
    width:50%;
}

.hinode{
    text-align: center;
    white-space: pre;   
}