@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}

body{
    line-height: 2.0;
    color:#432
}

a{
    text-decoration:none;
}

/*レイアウト*/
.align-center{
    text-align: center;
}

/*見出し*/

.font-japanese{
    font-family:'Philosopher',sans-serif;
    font-weight: normal;
}

/*ヘッダー*/

.page-header{
    padding-top:.5rem;
}

.main-nav{
    display:flex;
    justify-content: center;
    gap:2.5rem;
    font-size: 1.5rem;
    list-style:none;
}

.main-nav a{
    color:#432;
}

.main-nav a:hover{
    color:#0bd;
}

.cover{
    background-size:cover;
    background-position: center bottom;
    height:800px;
}

.cover-home{
    background-image:url(../images/ocean.webp)
}