@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}

body{
    line-height: 2.0;
    color:#432
}

a{
    text-decoration:none;
}

/*レイアウト*/
.align-center{
    text-align: center;
}

/*ヘッダー*/

.page-header{
    padding-top:.5rem;
}
